<div class='profile-background'>
    <div class='background-content'>
        <h1><%= user.name.capitalize %></h1>
        <h1><%= user.last_name.capitalize %></h1>
    </div> 
</div><br>

<div class='container-fluid'>
<div class='row'>

    <div class='col-4'>

        <div class='card'>
            <div class='card-header bg-info text-white'>About me</div>
            <div class='card-body'>
                <p><%= user.profile_bio %></p>
                <% if user_is_permitted? %>
                    <%= button_to 'Edit' , edit_user_registration_path , method: 'get',class: 'btn btn-success float-right' %>
                <% end %>
            </div>
        </div><br>

        <div class='card'>
            <div class='card-header bg-info text-white'>Friends</div>
            <div class='card-body'>
                <p>show friend list</p>
                <% if user_is_permitted? %>
                    <button class='btn btn-success float-right'>More...</button>
                <% end %>
            </div>
        </div>

    </div>

    <div class='col-8'>

        <% if user_is_permitted? %>
        <div class='card'>
            <div class='card-header bg-info text-white'>Write a post</div>
            <div class='card-body'>
                <textarea class='form-control' rows='2' placeholder="Tell us something about yourself"></textarea><br>
                <button class='btn btn-primary float-right'>Post</button>
            </div>
        </div><br>
        <% end %>

        <p>Posts list</p>
    </div>


</div>
</div>