<div class='container'>
 
    <% if user_signed_in? %>
        <!--@ show here user dashboard if user is signed in -->
        <%= render 'pages/dashboard' %>
    <% else %>
        <%= render 'partials/login_form' %>
    <% end %>

</div>