<div class='card'>
    <div class='card-body'>

        <% if user.avatar.attached? %>
            <%= image_tag user.avatar.variant(resize: "38x38"), class: 'rounded-circle mr-1' %>
        <% else %>
            <%= fa_stacked_icon "user", base: "circle", class: "user_icon" %>
        <% end %>

        <% full_name = user.name.capitalize + ' ' + user.last_name.capitalize %>
        <%= link_to full_name, user_profile_path(user.id) %>
    </div>
</div><br>