<%= form_for(@post) do |f| %>

    <div class='card'>
        <div class='card-header bg-info text-white'>Write a post</div>
        <div class='card-body'>
            <%= f.text_area :textBody, placeholder: 'Tell us something about yourself', class: 'form-control' %><br>
            <%= f.submit "Post", class: "btn btn-primary float-right" %>
        </div>
    </div><br>

<% end %>
