// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.user_avatar{
    .fa-user{
        color: gray;
    }
    font-size: 56px;
}

.user_preview{
    .fa-user{
        color: gray;
    }
    font-size: 26px;
}

.user_icon{
    .fa-user{
        color: gray;
    }
    font-size: 22px;
}
